*,
*::after,
*::before {
  /* some settings to start with because some html elements comes with padding or margin be default */
  padding: 0;
  margin: 0;
  /* The use of box-sizing: border-box because if I set an element's width to 100 pixels, 
  that 100 pixels will include any border or padding I added, and the content box will shrink to absorb that extra width. */
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  /* do not allow the user to select texts or in another word to get rid off the blue selection color */
  user-select: none;
}
body {
  font-family: "IM Fell English", serif;
}

/* All <a> tags will have text-decoration none to remove the default underline and change its default color to white= #fff in hexa */
a {
  text-decoration: none;
  color: #fff;
}

.home-image-container {
  background-image: url("../assets/manchestercity-view-panorama-night-uk.jpg"); /* specifying the image needed for the home section using background image*/
  background-repeat: no-repeat; /* avoid repeating the background image */
  background-size: cover; /* specifying the size of the background image*/
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 0;
}
/* changing only the background image for sport page by using class .sport  related to sport.html*/
.home-image-container.sport {
  background-image: url("../assets/soccer-ball-white-line-stadium.jpg");
  /* specifying the image needed for the home section/sport using background image*/

}
/* Act as an overlay with dark background over the home-image-container section*/
.home-image-container::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #0000008d;
  z-index: -1; /* specifying this to -1 makes it over the home-image-container section, but not over the header section*/
}
/*---------------------------- Header Section   */

header {
  background-color: transparent;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 45px;
  width: 100%;
  position: absolute;
  left: 50%;
  top: 5px;
  transform: translateX(-50%);
  z-index: 1;
}

.header-text {
  font-family: "Castoro Titling", cursive;
  color: #fff;
}
@media (max-width: 445px) {
  .header-text {
    font-size: 25px;
  }
}
.mobile-nav-menu {
  /* this section needed only in small screens */
  display: none;
}

/* Every a tag in nav section will have margin-left and position relative in order to specify a pesudo element in the next step */
nav a {
  margin-left: 20px;
  font-family: "IM Fell English", serif;
  position: relative;
}

/* before pesudo element for all <a> tags in <nav> to create line under each nav link  */
nav a::before{
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  opacity: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
  transition: all 0.3s ease;
}

/* When hovering over any link in the <nav> section the pesudo element should have opacity of 1 and to be at bottom = -5px with respect to the link */
nav a:hover::before  ,nav a.active::before {
  bottom: -5px;
  opacity: 1;
}

@media (max-width: 700px) {
  nav {
    display: none;
  }
  .mobile-nav-menu {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    position: relative;
  }
  .mobile-nav-menu span {
    width: 25px;
    height: 2px;
    background-color: #fff;
    transition: all 0.3s ease;
  }
  .mobile-nav-menu:hover span:first-of-type {
    transform: translateY(9px) rotateZ(45deg);
  }
  .mobile-nav-menu:hover span:nth-child(2) {
    width: 0;
  }
  .mobile-nav-menu:hover span:last-of-type {
    transform: translateY(-6px) rotateZ(-45deg);
  }
  .mobile-nav-menu:hover .mobile-navbar {
    display: flex;
  }
  .mobile-nav-menu .mobile-navbar {
    display: none;
    flex-direction: column;
    position: absolute;
    left: 50%;
    /* top: 19px; */
    margin-top: 19px;
    transform: translateX(-50%);
    background-color: #00000071;
    transition: all 0.2s ease;
  }
  .mobile-nav-menu .mobile-navbar a {
    border-bottom: 1px solid #fff;
    padding: 10px;
  }
  .mobile-nav-menu .mobile-navbar a:hover {
    background-color: #000;
  }
}

/*---------------------------- Header Section   */

/*---------------------------- Home Section   */
.home {
  padding: 0 30px;
}
.home .content {
  margin-top: 60px;
  color: #fff;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
.home .content .content-text,
.home .content-images {
  /* with the parent having display:flex, setting flex-basis to 50% makes
   the children occupy 50%  of the parent width no matter the parent size*/
  flex-basis: 50%;
  max-width: 100%;
}
/* rotating  the poster  image parent sport.html */
.content-images.sport{
  /* transform: rotate(-20deg); */
  position: relative;
text-align: right;
min-height: 400px;

}
/*  translating to give some space from the right and styling the poster image sport.html */
.content-images.sport .manchester-poster{
  transform: translateX(-10px) rotate(-20deg);
position: absolute;
right: 50px;
top: 50px;
border: 20px solid white;
}
.home .content-text h1 {
  opacity: 0;
  text-transform: uppercase;
  font-size: 80px;
  max-width: 100%;

  /* the function of the overflow:hidden is to hide the content of the h1 wich is
  "Manchester" when the width is not big enough to hold the conent. 
  When the animation starts the word "manchester" will appear letter by letter by increasing the width of h1*/
  overflow: hidden;
  /* this animation is like a typing effect for the h1 "manchester"*/
  /* Duration 2.2s , delay 2s and forwards means that the final property value in last @keyframes is maintained after the animation completes*/
  animation: manchester-animation 2.2s 2s forwards;
}
@media (max-width: 640px) {
  .home .content-text h1 {
    font-size: 70px;
  }
}
@media (max-width: 590px) {
  .home .content-text h1 {
    font-size: 50px;
  }
}
@media (max-width: 445px) {
  .home .content-text h1 {
    font-size: 35px;
  }
}
@media (max-width: 320px) {
  .home .content-text h1 {
    font-size: 28px;
  }
}

@keyframes manchester-animation {
  0% {
    opacity: 0;
    width: 0;
  }
  1% {
    opacity: 1;
    border-right: 1px solid orange;
  }
  50% {
    opacity: 1;
    border-right: 1px solid orange;
  }
  100% {
    width: 597px;
    opacity: 1;
  }
}

.home .content-text .scroll-down-btn {
  margin-top: 30px;
  background-color: rgba(0, 0, 0, 0.327);
  border: 1px solid #ccc;
  color: #fff;
  padding: 20px 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.3s ease;
  cursor: pointer;
}
.home .content-text .scroll-down-btn:hover {
  background-color: rgba(70, 69, 69, 0.327);
}
.home .content-text .scroll-down-btn .down-arrows-container {
  margin: -30px 0 0 30px;
}
/* ------------------------------------------Arrows styles */
.home .content-text .scroll-down-btn .down-arrows-container span {
  width: 17px;
  height: 17px;
  /* Display block to accept the width and height properties because <span> tag is inline type*/
  display: block;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  /* rotation of the borders by 45 degrees will make it looks like a normal arrows */
  transform: rotate(45deg);
  /* margin -10px to reduce the upper distance between the arrows to make them closer*/
  margin: -10px;
  /* animation name is scroll, Duration of 2 seconds, and infinite iteration counts */
  animation: scroll 2s infinite;
}

.home .content-text .scroll-down-btn .down-arrows-container span:nth-child(2) {
  animation-delay: -0.2s; /* this negative delay value will make this arrow appear as if it had started 0.2s before the other arrows*/
}

.home .content-text .scroll-down-btn .down-arrows-container span:nth-child(3) {
  animation-delay: -0.4s; /* this negative delay value will make this arrow appear as if it had started 0.4s before the other arrows*/
}

@keyframes scroll {
  0% {
    /* from opacity zero at the begining of the animation*/
    opacity: 0;
  }
  50% {
    /* to opacity 1 and maintain rotation of 45 degrees and translate of 10px in both X and Y at the middle of the animation*/
    opacity: 1;
    transform: rotate(45deg) translate(10px, 10px);
  }
  100% {
    /* to opacity zero at the end of the animation*/
    opacity: 0;
  }
}

.home .content-images {
  overflow-x: hidden;
}

.home .content-images .images-container {
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 40px;
  overflow-x: scroll;
  /* noticed that the horizontal scroll bar is facing some lag issues. by adding the "will-change"
 that states what kinds of changes the author expects to perform on the element. and scroll-position
   indicates that the author expects to change the scroll position of the element in the near future */
  will-change: scroll-position;
}

/* control the horizontal scrollbar heigh of the content-images div*/
.home .content-images .images-container::-webkit-scrollbar {
  height: 5px;
}
/* control the horizontal scrollbar track (backgroundcolor , border-radius) of the content-images div*/
.home .content-images .images-container::-webkit-scrollbar-track {
  background-color: #ccc;
  border-radius: 5px;
}
/* control the horizontal scrollbar thumb (backgroundcolor) of the content-images div*/
.home .content-images .images-container::-webkit-scrollbar-thumb {
  background-color: #000000ae;
}

.home .content-images .images-container img {
  width: 250px;
  height: 350px;
  object-fit: cover;
  border-radius: 5px;
  cursor: pointer;
}

/* depending on the design, some changes should be done to screens less than 1255px in the home section*/
@media (max-width: 1255px) {
  .home .content {
    margin-top: 150px;
    justify-content: center;
    gap: 30px;
  }
  .home .content .content-text,
  .home .content .content-images {
    /* This section will take the whole parent width so flex-basis of 100% needed instead of 50% in larger screens*/
    flex-basis: 100%;
  }
  .home .content .content-images {
    /* no need for this section in smaller screens*/
    display: none;
  }
}
/*---------------------------- Home Section   */
/*---------------------------- Popular Section   */
.popular {
  padding: 60px 20px;
  text-align: center;
}
/* writing special-heading without the parent section class. because I will use the special-heading many times*/
.special-heading {
  font-size: 150px;
  letter-spacing: -5px;
  font-weight: 800;
  color: #bbcee177;
  text-align: center;
  margin: 0;
}
/* + sign	Selects the first <p> element that is placed immediately after <div> elements */
.special-heading + p {
  font-size: 19px;
  margin-top: -40px;
  text-align: center;
  color: #251f1fc2;
}

@media (max-width: 480px) {
  .special-heading {
    font-size: 100px;
  }
}
@media (max-width: 340px) {
  .special-heading {
    font-size: 70px;
  }
}
.popular .popular-main {
  /* using display grid to style the cards*/
  display: grid;
  /*he grid-template-columns property specifies the number (and the widths) of columns in a grid layout
  I used repeat() because I want the columns of the same width and auto-fill,to fit as many as possible columns in a row.
   It doesn’t even matter if the column is empty. 
   The minmax() function does what the name suggests.
   Using minmax() I can set a minimum and maximum value for the width. min= 280px , max = 1fr 
   A fraction or 1FR is one part of the whole. 1 fraction is 100% of the available space. 
   2 fractions are 50% each. So, 1FR is 1/2 of the available space. 
   If there are 250 fractions. Then each fraction(1FR) is 1/250 or 0.4%.
   */
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  grid-gap: 20px;
  margin-top: 50px;
}

@media (max-width: 300px) {
  .popular .popular-main {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  }
}

.popular .popular-main > article {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
  text-align: center;
  overflow: hidden;
}

.popular .popular-main > article img.card-image {
  min-width: 100%;
  max-width: 100%;
  max-height: 193px;
  object-fit: cover;
  transition: all 0.5s ease;
}
.popular .popular-main > article img.card-image:hover {
  /* on hover the image will scale up */
  transform: scale(1.1);
}

.popular .popular-main > article i,
.popular .popular-main > article .icon-image {
  font-size: 48px;
  line-height: 70px;
  height: 80px;
  width: 80px;
  border: 6px solid white;
  border-radius: 50%;
  background-color: #007bff;
  text-align: center;
  color: white;
  margin-top: -36px;
  position: relative;
  z-index: 20;
}

.popular .popular-main .text {
  padding: 16px 20px 30px;
}

.popular .popular-main .btn {
  margin-top: 20px;
}

/*---------------------------- Popular Section   */
/*---------------------------- Population Section   */
/* start timeline */
/* normal styles for the timeline sectio */
.timeline {
  margin-top: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  background-image: url('./../assets/tokyo-people-traveling-street.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 0;
}
/* Act as an overlay with dark background over the timeline section*/
.timeline::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000000c2;
  z-index: -1; /* specifying this to -1 makes it over the home-image-container section, but not over the header section*/
}
.container {
  width: 75%;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}

.timeline .timeline-content {
  /* position relative in order to use pesudo elements */
  position: relative;
}
  /* This is the orange timeline vertical line*/
.timeline .timeline-content::before {
  content: "";
  width: 2px;
  height: 100%;
  background-color: orange;
  position: absolute;
  left: 50%;
  top: 0;
}
  /*Years exist on the vertical orange line*/
.timeline .timeline-content .year {
  /* margin auto will help to position the year in the middle */
  margin: 20px auto;
  width: 100px;
  height: 100px;
  background-color: orange;
  border-radius: 50%;
  text-align: center;
  color: white;
  padding: 2px 5px;
  font-size: 30px;
  font-weight: bold;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.timeline .timeline-content .left,
.timeline .timeline-content .right {
/* the -25px in the width below is that 25px is the half of the .year width (50px) */
  width: calc(50% - 25px );
  margin-bottom: 40px;
  position: relative;
}
.timeline .timeline-content .left {
  float: left;
}
.timeline .timeline-content .left:before {
  right: -32px;
}
.timeline .timeline-content .right {
  float: right;
}
.timeline .timeline-content .right:before {
  left: -32px;
}
.timeline .timeline-content .left:before,
.timeline .timeline-content .right:before {
  content: "";
  width: 14px;
  height: 14px;
  background-color: white;
  border: 3px solid rgb(25, 0, 255);
  border-radius: 50%;
  position: absolute;
  top: 20px;
}
.timeline .timeline-content .content {
  background-color: white;
  padding: 20px;
  border-radius: 20px;

}
@media (max-width:350px) {
  .timeline .timeline-content .content {
   padding: 10px;
  
  }
}
.timeline .timeline-content .content h3 {
  font-weight: bold;
  color: orange;
  margin: 0 0 10px;
}
.timeline .timeline-content .content p {
  color: #666;
  margin: 0;
  line-height: 1.6;
}
.clearfix {
  /* The clear property controls the flow next to floated elements 
  "both" is used so that any other elements are pushed below both left and right floated elements*/
  clear: both;
}
/* this ::before is the idea of the left arrow by using the border and ajust its colors by making all transparent except one side*/
.timeline .timeline-content .left .content::before {
  content: "";
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent transparent #fff;
  position: absolute;
  right: -20px;
  top: 20px;
}
/* this ::before is the idea of the right arrow by using the border and ajust its colors by making all transparent except one side*/
.timeline .timeline-content .right .content::before {
  content: "";
  border-width: 10px;
  border-style: solid;
  border-color: transparent #fff transparent transparent;
  position: absolute;
  left: -20px;
  top: 20px;
}
/* end timeline */
/*---------------------------- Population Section   */



/*---------------------------- Footer Section   */
footer{
padding: 30px;
  background-color: #121111;
}
footer .content{
  text-align: center;
color:#fff;
}


/*---------------------------- Footer Section   */
/* -----------------------------------------------------------------------------------end of the index.html page  */



/* -----------------------------------------------------------------------------------start of the university.html page  */

.university{
  background-image: url('../assets/beautiful-exterior-building-architecture-brick-warehouse.jpg');
}
.home-university .content{
display: flex;
flex-direction: column;
align-items: center;
}
.home-university .content .content-text{
margin-top: 30px;
}


.home-university .content-image svg{
  width: 400px;
background-color: #fff;
height: 200px;
}
/* -----------------------------------------------------------------------------------start of the university.html page  */








/* ------------ start of uncommon styles of sport.html page ------ */
/*------------------- start team(club) section ----------- */
.team{
  text-align: center;
}
.team-container{
min-height: 80vh;
display: flex;
align-items: center;
justify-content: center;
}
.team-container div{
  width: calc(100% / 2);
  height: 80vh;
}
@media (max-width:992px) {
  .team-container div {
      width: 100% ;
      
    }
  
}

.team-container .man{
  position: relative;
display: flex;
  align-items: flex-end;
  justify-content: center;
}
.team-container .united:after{
 content: '';
  position: absolute;
  background-image: url("../assets/red-layer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
width: 100%;
height: 100%;
top: 0;
left: 0;
z-index: 0;
}
.team-container .city:after{
 content: '';
  position: absolute;
  background-image: url("../assets/blue-layer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
width: 100%;
height: 100%;
top: 0;
right: 0;
z-index: 0;
}
.team-container .man h1{
  font-size: 100px;
  font-family: 'Sigmar',
    cursive;
    position: relative;
    z-index: 1;
    text-transform: uppercase;
}
@media (max-width:500px) {
  .team-container .man h1 {
      font-size: 50px;
      
    }
}
.team-container .man img{
  position: absolute;
  height: auto;
  width: 25%;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  opacity: 0.9;
  
}

.team-container .united h1 ,.team-container .city h1{
    background-image: linear-gradient(to right,#4e181895 ,#E20000, #FDB913);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .team-container .city h1{
  background-image: linear-gradient(to right,#ffffff,#6CADDF,
    #1C3F95);
  
}

.team-container .man-logos img{
  width: 150px;
}
.team-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}
@media (max-width:768px) {
  .team-container {
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
    }
  
}
/*------------------- end team(club) section ----------- */


/*------------------- start legend section ----------- */
.legend-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 10vmin;
  overflow: hidden;
  transform: skew(5deg);
}
.legend-container .card {
  flex: 1;
  transition: all 1s ease-in-out;
  min-height: 45vmin;
  min-width: 200px;
  max-width: 250px;
  position: relative;
  background-color: #b0a6a6;
    margin-bottom: 10px;

}
.legend-container .card .card__head {
  color: black;
  background: rgba(255, 30, 173, 0.75);
  padding: 0.5em;
  transform: rotate(-90deg);
  transform-origin: 0% 0%;
  transition: all 0.5s ease-in-out;
  max-width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 1em;
  white-space: nowrap;
}
.legend-container .card:hover .player_info {
  filter: grayscale(0);
}
.legend-container .card:hover .card__head {
  text-align: center;
  top: calc(100% - 2em);
  color: white;
  background: rgba(0, 0, 0, 0.5);
  font-size: 2em;
  transform: rotate(0deg) skew(-5deg);
}
.legend-container .card .player_info {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 1s ease-in-out;
  filter: grayscale(100%);
}
.legend-container .card:not(:nth-child(5)) {
  margin-right: 1em;
}


@media (max-width:550px) {
.legend-container {
  transform: skew(0);
}
.legend-container .card {
  min-height: 65vmin;
}




  
}
@media (max-width:400px) {
.legend-container {
  transform: skew(0);
}
.legend-container .card {
  min-height: 85vmin;
}




  
}





/*------------------- end legend section ----------- */




/* ------------ end of uncommon styles of sport.html page ------ */






.t-shirt_container h1{
  margin:5px;
  color:lime;
}

.t-shirt{
  position:absolute;
  width:220px;
  height:330px;
  background-color:#DA291C;
  border-radius:0 0 10px 10px;
  border-bottom:15px solid #DA291C;
  z-index:3;
}
.t-shirt.city{
  
  background-color:#6cabdd;;
  border-bottom:15px solid #6cabdd;;
  
}
.hand{
  width:80px;
  height:120px;
  background:#DA291C;
  position:absolute;
  border-radius:30px 0 10px 10px;
  border-bottom:15px solid #fff;
  z-index:1;
}
.hand.city{
  background:#6cabdd;
}
.hand:nth-child(1){
  transform:rotatez(60deg) translatex(-40px) translatey(50px);
}
.hand:nth-child(2){
  transform:rotatez(-60deg) translatex(110px) translatey(170px);
  border-radius:0 30px 10px 10px;
}
.t-shirt:before{
  content:"";
  display:block;
  position:absolute;
  width:100px;
  height:80px;
  border-radius:50%;
  background:black;
  margin:-38px 60px;
  box-shadow:0px 15px 2px 5px #fff;

}
.t-shirt_content{
  color:#fff;
  text-align:center;
  padding-top:80px;
}
.t-shirt_content h2{
    font-size:35px;
}
.t-shirt_content h1{
  font-size:40px;
  color:#fff;
}